.portfolio-container {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.portfolio {
    padding: 10px;
    margin-bottom: 30px;
}