.portfolio-container {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    align-content: center;
    background-color: rgb(11, 12, 11);

    .portfolio-title {
        padding: 10px;
        gap: 0.6rem;
        display: flex;
        width: 300px;
        margin-bottom: 30px;
    
        p {
            color: rgb(4, 95, 117);
        }
    }
    .portfolio-projects {
        display: flex;
        .portfolio-info {
            background-color: black;
        }
    }
            
}


