@media screen and (min-width: 1440px) {
    .skills-container {
        margin-bottom: -50px;
        padding-bottom: 50px;
        padding-top: 50px;
        z-index: 10;
        height: max-content;
        background-color: rgb(255, 255, 255);
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        color: rgb(0, 0, 0);
    
        .skills-title {
            padding: 0;
            margin-left: -170px;
    
            .title {
                text-align: start;
                font-size: 36px;
                width: 300px;
                color: rgb(29, 71, 126);
                text-shadow: 0.5px 0.5px 2px black;
            }
        }
    
        .skillbox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 50%;
            height: 60%;
            align-items: center;
            align-items: center;
            padding: 20px;
            padding-bottom: 60px;
            margin: auto;
            gap: 4rem;
        
            .skillbox-technologies {
                text-align: center;
                margin: auto;
                aspect-ratio: 1;
                width: 76px;
            
                .skill-icon {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    aspect-ratio: 1;
                    width: 60px;
                    transform: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                }
    
                .skill-icon:hover {
                    filter: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                    transition: all 0.2s ease-out;
                    transform: scale(1.1);
                }
    
                .nodeIcon {
                    width: 84px;
                }
    
                .reactIcon {
                    animation-name: girarb;
                    animation-duration: 20s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
    
                @keyframes girarb {
                    from {
                        transform: rotate(0deg);
                    } to {
                        transform: rotate(360deg);
                    }
                }
    
                .javascriptIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .typescriptIcon:hover {
                    color: rgb(35, 99, 160);
                }
                .htmlIcon:hover {
                    color: rgb(248, 106, 39);
                }
                .cssIcon:hover {
                    color: rgb(36, 88, 230);
                }
                .reactIcon:hover {
                    color: rgb(71, 212, 255);
                    filter: drop-shadow(1.5px 1.5px 0.6px rgb(0, 0, 0));
                }
                .reduxIcon:hover {
                    color: rgb(112, 42, 190);
                }
                .expressIcon:hover {
                    color: rgb(143, 143, 143);
                }
                .sequelizeIcon:hover {
                    color: rgb(69, 141, 250);
                    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .reactRouterIcon:hover {
                    color: rgb(219, 37, 37);
                }
                .nodeIcon:hover {
                    color: rgb(96, 184, 46);
                }
                .postgresqlIcon:hover {
                    filter: invert(43%) sepia(93%) saturate(368%) hue-rotate(160deg) brightness(89%) contrast(95%) drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .nextIcon:hover {
                    color: rgb(146, 146, 146);
                }
                .tailwindIcon:hover {
                    color: rgb(43, 146, 177);
                }
                .pythonIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .gitIcon:hover {
                    color: rgb(248, 81, 39);
                }
                .eslintIcon:hover {
                    color: rgb(51, 58, 161);
                }
            
                .skill-name {
                    font-size: 16px;
                    color: black;
                }
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1439px) {
    .skills-container {
        z-index: 10;
        padding-bottom: 50px;
        padding-top: 50px;
        background-color: rgb(255, 255, 255);
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        color: rgb(0, 0, 0);
    
        .skills-title {
            padding: 0;
            margin-left: -100px;
    
            .title {
                text-align: start;
                font-size: 32px;
                width: 300px;
                color: rgb(29, 71, 126);
                text-shadow: 0.5px 0.5px 2px black;
            }
        }
    
        .skillbox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 58%;
            height: 60%;
            align-items: center;
            align-items: center;
            padding: 20px;
            margin: auto;
            gap: 4rem;
        
            .skillbox-technologies {
                text-align: center;
                margin: auto;
                aspect-ratio: 1;
                width: 76px;
            
                .skill-icon {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    aspect-ratio: 1;
                    width: 60px;
                    transform: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                }
    
                .skill-icon:hover {
                    filter: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                    transition: all 0.2s ease-out;
                    transform: scale(1.1);
                }
    
                .nodeIcon {
                    width: 84px;
                }
    
                .reactIcon {
                    animation-name: girarb;
                    animation-duration: 20s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
    
                @keyframes girarb {
                    from {
                        transform: rotate(0deg);
                    } to {
                        transform: rotate(360deg);
                    }
                }
    
                .javascriptIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .htmlIcon:hover {
                    color: rgb(248, 106, 39);
                }
                .cssIcon:hover {
                    color: rgb(36, 71, 230);
                }
                .reactIcon:hover {
                    color: rgb(71, 212, 255);
                    filter: drop-shadow(1.5px 1.5px 0.6px rgb(0, 0, 0));
                }
                .reduxIcon:hover {
                    color: rgb(112, 42, 190);
                }
                .expressIcon:hover {
                    color: rgb(143, 143, 143);
                }
                .sequelizeIcon:hover {
                    color: rgb(69, 141, 250);
                    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .reactRouterIcon:hover {
                    color: rgb(219, 37, 37);
                }
                .nodeIcon:hover {
                    color: rgb(96, 184, 46);
                }
                .postgresqlIcon:hover {
                    filter: invert(43%) sepia(93%) saturate(368%) hue-rotate(160deg) brightness(89%) contrast(95%) drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .sassIcon:hover {
                    color: rgb(224, 91, 184);
                }
                .pythonIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .gitIcon:hover {
                    color: rgb(248, 81, 39);
                }
                .nodemonIcon:hover {
                    color: rgb(66, 184, 62);
                }
            
                .skill-name {
                    font-size: 16px;
                    color: black;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .skills-container {
        padding-top: 90px;
        padding-bottom: 90px;
        margin-bottom: -50px;
        padding-bottom: 0px;
        position: relative;
        z-index: 10;
        height: 70vh;
        background-color: rgb(255, 255, 255);
        align-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: rgb(0, 0, 0);
    
        .skills-title {
            padding: 0;
            margin-left: -170px;
    
            .title {
                text-align: start;
                font-size: 36px;
                width: 300px;
                color: rgb(29, 71, 124);
            }
        }
    
        .skillbox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 58%;
            height: 60%;
            align-items: center;
            align-items: center;
            padding: 20px;
            margin: auto;
            gap: 4rem;
        
            .skillbox-technologies {
                text-align: center;
                margin: auto;
                aspect-ratio: 1;
                width: 76px;
            
                .skill-icon {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    aspect-ratio: 1;
                    width: 60px;
                    transform: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                }
    
                .skill-icon:hover {
                    filter: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                    transition: all 0.2s ease-out;
                    transform: scale(1.1);
                }
    
                .nodeIcon {
                    width: 84px;
                }
    
                .reactIcon {
                    animation-name: girarb;
                    animation-duration: 20s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
    
                @keyframes girarb {
                    from {
                        transform: rotate(0deg);
                    } to {
                        transform: rotate(360deg);
                    }
                }
    
                .javascriptIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .htmlIcon:hover {
                    color: rgb(248, 106, 39);
                }
                .cssIcon:hover {
                    color: rgb(36, 71, 230);
                }
                .reactIcon:hover {
                    color: rgb(71, 212, 255);
                    filter: drop-shadow(1.5px 1.5px 0.6px rgb(0, 0, 0));
                }
                .reduxIcon:hover {
                    color: rgb(112, 42, 190);
                }
                .expressIcon:hover {
                    color: rgb(143, 143, 143);
                }
                .sequelizeIcon:hover {
                    color: rgb(69, 141, 250);
                    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .reactRouterIcon:hover {
                    color: rgb(219, 37, 37);
                }
                .nodeIcon:hover {
                    color: rgb(96, 184, 46);
                }
                .postgresqlIcon:hover {
                    filter: invert(43%) sepia(93%) saturate(368%) hue-rotate(160deg) brightness(89%) contrast(95%) drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .sassIcon:hover {
                    color: rgb(224, 91, 184);
                }
                .pythonIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .gitIcon:hover {
                    color: rgb(248, 81, 39);
                }
                .nodemonIcon:hover {
                    color: rgb(66, 184, 62);
                }
            
                .skill-name {
                    font-size: 16px;
                    color: black;
                }
            }
        }
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .skills-container {
        padding-top: 90px;
        padding-bottom: 90px;
        margin-bottom: -50px;
        padding-bottom: 0px;
        position: relative;
        z-index: 10;
        height: 70vh;
        background-color: rgb(255, 255, 255);
        align-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: rgb(0, 0, 0);
    
        .skills-title {
            padding: 0;
            margin-left: -170px;
    
            .title {
                text-align: start;
                font-size: 36px;
                width: 300px;
                color: rgb(29, 71, 126);
            }
        }
    
        .skillbox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 58%;
            height: 60%;
            align-items: center;
            align-items: center;
            padding: 20px;
            margin: auto;
            gap: 4rem;
        
            .skillbox-technologies {
                text-align: center;
                margin: auto;
                aspect-ratio: 1;
                width: 76px;
            
                .skill-icon {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    aspect-ratio: 1;
                    width: 60px;
                    transform: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                }
    
                .skill-icon:hover {
                    filter: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                    transition: all 0.2s ease-out;
                    transform: scale(1.1);
                }
    
                .nodeIcon {
                    width: 84px;
                }
    
                .reactIcon {
                    animation-name: girarb;
                    animation-duration: 20s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
    
                @keyframes girarb {
                    from {
                        transform: rotate(0deg);
                    } to {
                        transform: rotate(360deg);
                    }
                }
    
                .javascriptIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .htmlIcon:hover {
                    color: rgb(248, 106, 39);
                }
                .cssIcon:hover {
                    color: rgb(36, 71, 230);
                }
                .reactIcon:hover {
                    color: rgb(71, 212, 255);
                    filter: drop-shadow(1.5px 1.5px 0.6px rgb(0, 0, 0));
                }
                .reduxIcon:hover {
                    color: rgb(112, 42, 190);
                }
                .expressIcon:hover {
                    color: rgb(143, 143, 143);
                }
                .sequelizeIcon:hover {
                    color: rgb(69, 141, 250);
                    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .reactRouterIcon:hover {
                    color: rgb(219, 37, 37);
                }
                .nodeIcon:hover {
                    color: rgb(96, 184, 46);
                }
                .postgresqlIcon:hover {
                    filter: invert(43%) sepia(93%) saturate(368%) hue-rotate(160deg) brightness(89%) contrast(95%) drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .sassIcon:hover {
                    color: rgb(224, 91, 184);
                }
                .pythonIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .gitIcon:hover {
                    color: rgb(248, 81, 39);
                }
                .nodemonIcon:hover {
                    color: rgb(66, 184, 62);
                }
            
                .skill-name {
                    font-size: 16px;
                    color: black;
                }
            }
        }
    }
}
@media screen and (max-width: 479px) {
    .skills-container {
        padding-top: 20px;
        padding-bottom: 90px;
        margin-bottom: -50px;
        padding-bottom: 30px;
        position: relative;
        width: 100vw;
        z-index: 10;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        color: rgb(0, 0, 0);
    
        .skills-title {
            padding: 0;
            left: 0;
            align-items: center;
            align-self: center;
            width: max-content;
            margin-left: 0px;
    
            .title {
                text-align: center;
                left: 0;
                font-size: 30px;
                width: max-content;
                color: rgb(29, 71, 126);
                text-shadow: 0.5px 0.5px 2px black;
            }
        }
    
        .skillbox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 80%;
            height: 100%;
            align-items: center;
            align-items: center;
            padding: 0px;
            padding-top: 20px;
            margin: auto;
            gap: 2rem;
        
            .skillbox-technologies {
                text-align: center;
                margin: auto;
                aspect-ratio: 1;
                width: 56px;
            
                .skill-icon {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    aspect-ratio: 1;
                    width: 60px;
                    transform: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                }
    
                .skill-icon:hover {
                    filter: drop-shadow(3px 3px 0.5px rgba(0, 0, 0, 0.699));
                    transition: all 0.2s ease-out;
                    transform: scale(1.1);
                }
    
                .nodeIcon {
                    width: 120%;
                }
    
                .reactIcon {
                    animation-name: girarb;
                    animation-duration: 20s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
    
                @keyframes girarb {
                    from {
                        transform: rotate(0deg);
                    } to {
                        transform: rotate(360deg);
                    }
                }
    
                .javascriptIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .htmlIcon:hover {
                    color: rgb(248, 106, 39);
                }
                .cssIcon:hover {
                    color: rgb(36, 71, 230);
                }
                .reactIcon:hover {
                    color: rgb(71, 212, 255);
                    filter: drop-shadow(1.5px 1.5px 0.6px rgb(0, 0, 0));
                }
                .reduxIcon:hover {
                    color: rgb(112, 42, 190);
                }
                .expressIcon:hover {
                    color: rgb(143, 143, 143);
                }
                .sequelizeIcon:hover {
                    color: rgb(69, 141, 250);
                    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .reactRouterIcon:hover {
                    color: rgb(219, 37, 37);
                }
                .nodeIcon:hover {
                    color: rgb(96, 184, 46);
                }
                .postgresqlIcon:hover {
                    filter: invert(43%) sepia(93%) saturate(368%) hue-rotate(160deg) brightness(89%) contrast(95%) drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.699));
                }
                .sassIcon:hover {
                    color: rgb(224, 91, 184);
                }
                .pythonIcon:hover {
                    color: rgb(231, 217, 89);
                }
                .gitIcon:hover {
                    color: rgb(248, 81, 39);
                }
                .nodemonIcon:hover {
                    color: rgb(66, 184, 62);
                }
            
                .skill-name {
                    font-size: 12px;
                    padding-top: 10px;
                    text-align: center;
                    color: black;
                }
            }
        }
    }
}