.about-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    .about-title {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: 200px;
        height: 100px;
        width: 350px;

        .title {
            text-align: start;
            display: flex;
            font-size: 36px;
            color: rgb(29, 71, 126);
            gap: 1rem;
        }
        .title-p {
            color: rgb(92, 172, 209);
        }
    }

    .about-body {
        padding-top: 18px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80vw;
        margin: auto;

        .about-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
            width: 60%;
            margin-left: 100px;
            margin-bottom: 120px;

            color: rgb(0, 0, 0);
            gap: 1.5rem;
    
            p {
                line-height: 1.6;
                font-size: 22px;
            }
        }
        
        .about-img {
            display: flex;
            height: 100%;
            width: 30vw;
            margin: auto;
            margin-right: -80px;

            .me {
                width: 550px;
                margin: auto;
                aspect-ratio: 1;
                filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.5));
            }
        }
    }


}
