
@media screen and (min-width: 1440px) {
	.form-container {
		height: 850px;
		width: 50%;
		z-index: 5000;
		align-content: center;
		margin: auto;
		align-items: center;
		padding-top: 50px;
		padding-bottom: 50px;
	
		.contact_form{	
			width: 460px; 
			height: 92%;
			margin: auto;
			border-radius: 10px;  
			padding: 10px;
			transform: translateY(4%);
			box-shadow: 3px 3px 8px rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.103);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 0.5px solid rgba(255, 255, 255, 0.1);
			border-radius: 20px;
			backdrop-filter: blur(12px);
			-webkit-backdrop-filter: blur(12px);
	
			.table {
				height: 100%;
				margin: auto;
				position: relative;
	
				.contact-me {
					text-shadow: 2px 2px 2px black;
					width: 100%;
					height: 100%;
					position: absolute;
					border: solid 1.6px white;
					border-radius: 20px;
					font-size: 28px;
					padding-top: 24px;
					z-index: 300;
					border-radius: 10px;
				}
	
				.form-content {
					width: 96%;
					margin: auto;
					z-index: 500;
					padding-top: 100px;
					padding-left: 8px;
					position: absolute;
					text-shadow: 2px 2px 2px black;
	
					.button-container {
						.btn-formOne {
							height: 45px; 	
							margin-bottom: 20px; 
							margin: auto;
							margin-left: 136px;
							text-transform: uppercase;
							background-color: #156b4a; 
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							width: 150px;   
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						.btn-formOne:hover {
							transform: scale(1.1);
						}
						}
						.btn-formTwo {
							height: 45px; 
							padding-left: 5px;
							padding-right: 5px; 	
							margin: auto;
							margin-left: 136px;
							text-transform: uppercase;
							background-color: #1c5d83;
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							width: 150px;   
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						}
						.btn-formTwo:hover {
							transform: scale(1.1);
						}
					}
				}
			
			}
		}
	
	
	}
	
	label {
		padding-left: 20px;
	}
	
	input{
		background-color: #fbfbfb; 
		color: #030c36;
		font-size: 16px;
		font-weight: 500;
		width: 408px; 
		height: 40px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #19245f; 
		margin-top: 10px;  
		padding-left: 20px;
		margin-left: 8px;
		margin-bottom: 20px; 
	}
	
	textarea{
		background-color: #fbfbfb;
		color: #030c36;
		font-size: 16px;
		font-weight: 500;
		width: 405px; 
		height: 150px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #185f88; 
		margin-top: 10px;
		margin-left: 8px;
		padding-left: 20px;
		margin-bottom: 20px; 
		padding-top: 15px; 
	}
	
	span{
		color: #ffffff; 
	}
	
	h1{
		font-size: 39px;  
		text-align: center; 
		padding-bottom: 20px; 
		color: #ffffff;
	}
	
	h3{
		font-size: 16px; 
		padding-bottom: 30px;
		color: #ffffff;   
	}
	
	p{
		font-size: 14px; 
		color: #ffffff; 
	}
	
	::-webkit-input-placeholder {
		color: #a8a8a8;
	}
	
	
	::-webkit-textarea-placeholder {
		color: #a8a8a8;
	}
	
	
	/* .formulario input:focus{
		outline:0;
		border: 1px solid #97d848;
	}
	
	
	.formulario textarea:focus{
		outline:0;
		border: 1px solid #97d848;
	} */
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.form-container {
		height: 710px;
		width: 50%;
		z-index: 5000;
		align-content: center;
		margin: auto;
		align-items: center;
		padding-top: 50px;
		padding-bottom: 50px;
	
		.contact_form{	
			width: 460px; 
			height: 92%;
			margin: auto;
			border-radius: 10px;  
			padding: 10px;
			transform: translateY(4%);
			box-shadow: 3px 3px 8px rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.103);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 0.5px solid rgba(255, 255, 255, 0.1);
			border-radius: 20px;
			backdrop-filter: blur(12px);
			-webkit-backdrop-filter: blur(12px);
	
			.table {
				height: 100%;
				margin: auto;
				position: relative;
	
				.contact-me {
					text-shadow: 2px 2px 2px black;
					width: 100%;
					height: 100%;
					position: absolute;
					border: solid 1.6px white;
					border-radius: 20px;
					font-size: 26px;
					padding-top: 24px;
					z-index: 300;
					border-radius: 10px;
				}
	
				.form-content {
					width: 96%;
					margin: auto;
					z-index: 500;
					padding-top: 65px;
					padding-left: 8px;
					position: absolute;
					text-shadow: 2px 2px 2px black;
	
					.button-container {
						.btn-formOne {
							height: 40px; 	
							margin-bottom: 20px; 
							margin: auto;
							margin-left: 136px;
							text-transform: uppercase;
							background-color: #156b4a; 
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							width: 140px;   
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						.btn-formOne:hover {
							transform: scale(1.1);
						}
						}
						.btn-formTwo {
							height: 40px; 
							padding-left: 5px;
							padding-right: 5px; 	
							margin: auto;
							margin-left: 136px;
							text-transform: uppercase;
							background-color: #1c5d83;
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							width: 140px;   
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						}
						.btn-formTwo:hover {
							transform: scale(1.1);
						}
					}
				}
			
			}
		}
	
	
	}
	
	label {
		padding-left: 20px;
	}
	
	input{
		background-color: #fbfbfb; 
		color: #030c36;
		font-size: 14px;
		font-weight: 500;
		width: 408px; 
		height: 36px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #19245f; 
		margin-top: 10px;  
		padding-left: 20px;
		margin-left: 8px;
		margin-bottom: 20px; 
	}
	
	textarea{
		background-color: #fbfbfb;
		color: #030c36;
		font-size: 16px;
		font-weight: 500;
		width: 405px; 
		height: 100px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #185f88; 
		margin-top: 10px;
		margin-left: 8px;
		padding-left: 20px;
		margin-bottom: 20px; 
		padding-top: 15px; 
	}
	
	span{
		color: #ffffff; 
	}
	
	h1{
		font-size: 39px;  
		text-align: center; 
		padding-bottom: 20px; 
		color: #ffffff;
	}
	
	h3{
		font-size: 16px; 
		padding-bottom: 30px;
		color: #ffffff;   
	}
	
	p{
		font-size: 14px; 
		color: #ffffff; 
	}
	
	::-webkit-input-placeholder {
		color: #a8a8a8;
	}
	
	
	::-webkit-textarea-placeholder {
		color: #a8a8a8;
	}
	
	
	/* .formulario input:focus{
		outline:0;
		border: 1px solid #97d848;
	}
	
	
	.formulario textarea:focus{
		outline:0;
		border: 1px solid #97d848;
	} */
}

@media (min-width: 768px) and (max-width: 1023px) {
	.form-container {
		height: 710px;
		width: 100%;
		z-index: 5000;
		align-content: center;
		margin: auto;
		align-items: center;
		padding-top: 50px;
		margin-top: 20px;
		padding-bottom: 50px;
	
		.contact_form{	
			width: 460px; 
			height: 92%;
			margin: auto;
			border-radius: 10px;  
			padding: 10px;
			transform: translateY(4%);
			box-shadow: 3px 3px 8px rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.103);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 0.5px solid rgba(255, 255, 255, 0.1);
			border-radius: 20px;
			backdrop-filter: blur(12px);
			-webkit-backdrop-filter: blur(12px);
	
			.table {
				height: 100%;
				margin: auto;
				position: relative;
	
				.contact-me {
					text-shadow: 2px 2px 2px black;
					width: 100%;
					height: 100%;
					position: absolute;
					border: solid 1.6px white;
					border-radius: 20px;
					font-size: 26px;
					padding-top: 24px;
					z-index: 300;
					border-radius: 10px;
				}
	
				.form-content {
					width: 96%;
					margin: auto;
					z-index: 500;
					padding-top: 65px;
					padding-left: 8px;
					position: absolute;
					text-shadow: 2px 2px 2px black;
	
					.button-container {
						.btn-formOne {
							height: 40px; 	
							margin-bottom: 20px; 
							margin: auto;
							margin-left: 136px;
							text-transform: uppercase;
							background-color: #156b4a; 
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							width: 140px;   
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						.btn-formOne:hover {
							transform: scale(1.1);
						}
						}
						.btn-formTwo {
							height: 40px; 
							padding-left: 5px;
							padding-right: 5px; 	
							margin: auto;
							margin-left: 136px;
							text-transform: uppercase;
							background-color: #1c5d83;
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							width: 140px;   
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						}
						.btn-formTwo:hover {
							transform: scale(1.1);
						}
					}
				}
			
			}
		}
	
	
	}
	
	label {
		padding-left: 20px;
	}
	
	input{
		background-color: #fbfbfb; 
		color: #030c36;
		font-size: 14px;
		font-weight: 500;
		width: 408px; 
		height: 36px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #19245f; 
		margin-top: 10px;  
		padding-left: 20px;
		margin-left: 8px;
		margin-bottom: 20px; 
	}
	
	textarea{
		background-color: #fbfbfb;
		color: #030c36;
		font-size: 16px;
		font-weight: 500;
		width: 405px; 
		height: 100px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #185f88; 
		margin-top: 10px;
		margin-left: 8px;
		padding-left: 20px;
		margin-bottom: 20px; 
		padding-top: 15px; 
	}
	
	span{
		color: #ffffff; 
	}
	
	h1{
		font-size: 39px;  
		text-align: center; 
		padding-bottom: 20px; 
		color: #ffffff;
	}
	
	h3{
		font-size: 16px; 
		padding-bottom: 30px;
		color: #ffffff;   
	}
	
	p{
		font-size: 14px; 
		color: #ffffff; 
	}
	
	::-webkit-input-placeholder {
		color: #a8a8a8;
	}
	
	
	::-webkit-textarea-placeholder {
		color: #a8a8a8;
	}
	
	
	/* .formulario input:focus{
		outline:0;
		border: 1px solid #97d848;
	}
	
	
	.formulario textarea:focus{
		outline:0;
		border: 1px solid #97d848;
	} */
}

@media (min-width: 480px) and (max-width: 767px) {
	.form-container {
		height: 730px;
		width: 100%;
		z-index: 5000;
		align-content: center;
		margin: auto;
		align-items: center;
		padding-top: 70px;
		margin-top: 40px;
		padding-bottom: 50px;
	
		.contact_form{	
			width: 400px; 
			height: 92%;
			margin: auto;
			border-radius: 10px;  
			padding: 10px;
			transform: translateY(4%);
			box-shadow: 3px 3px 8px rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.103);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 0.5px solid rgba(255, 255, 255, 0.1);
			border-radius: 20px;
			backdrop-filter: blur(12px);
			-webkit-backdrop-filter: blur(12px);
	
			.table {
				height: 100%;
				margin: auto;
				position: relative;
	
				.contact-me {
					text-shadow: 2px 2px 2px black;
					width: 100%;
					height: 100%;
					position: absolute;
					border: solid 1.6px white;
					border-radius: 20px;
					font-size: 26px;
					padding-top: 24px;
					z-index: 300;
					border-radius: 10px;
				}
	
				.form-content {
					width: 100%;
					margin: auto;
					z-index: 500;
					padding-top: 66px;
					padding-left: 8px;
					margin-bottom: 20px;
					position: absolute;
					text-shadow: 2px 2px 2px black;
	
					.button-container {
						width: 360px;
						display: flex;
						justify-content: center;
						.btn-formOne {
							height: 40px; 	
							margin-bottom: 20px; 
							margin: auto;
							text-transform: uppercase;
							background-color: #156b4a; 
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							display: flex;
							justify-content: center;
							align-items: center;
							width: 160px;
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						.btn-formOne:hover {
							transform: scale(1.1);
						}
						}
						.btn-formTwo {
							height: 40px; 
							padding-left: 5px;
							padding-right: 5px; 	
							margin: auto;
							margin-left: 110px;
							margin-bottom: 20px;
							text-transform: uppercase;
							background-color: #1c5d83;
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							width: 160px;   
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						}
						.btn-formTwo:hover {
							transform: scale(1.1);
						}
					}
				}
			
			}
		}
	
	
	}
	
	label {
		padding-left: 20px;
	}
	
	input{
		background-color: #fbfbfb; 
		color: #030c36;
		font-size: 14px;
		font-weight: 500;
		width: 344px; 
		height: 36px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #19245f; 
		margin-top: 10px;  
		padding-left: 20px;
		margin-left: 8px;
		margin-bottom: 20px; 
	}
	
	textarea{
		background-color: #fbfbfb;
		color: #030c36;
		font-size: 16px;
		font-weight: 500;
		width: 344px; 
		height: 100px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #185f88; 
		margin-top: 10px;
		margin-left: 8px;
		padding-left: 20px;
		margin-bottom: 20px; 
		padding-top: 15px; 
	}
	
	span{
		color: #ffffff; 
	}
	
	h1{
		font-size: 39px;  
		text-align: center; 
		padding-bottom: 20px; 
		color: #ffffff;
	}
	
	h3{
		font-size: 16px; 
		padding-bottom: 30px;
		color: #ffffff;   
	}
	
	p{
		font-size: 14px; 
		color: #ffffff; 
	}
	
	::-webkit-input-placeholder {
		color: #a8a8a8;
	}
	
	
	::-webkit-textarea-placeholder {
		color: #a8a8a8;
	}
	
	
	/* .formulario input:focus{
		outline:0;
		border: 1px solid #97d848;
	}
	
	
	.formulario textarea:focus{
		outline:0;
		border: 1px solid #97d848;
	} */
}

@media screen and (max-width: 479px) {
	.form-container {
		height: 710px;
		width: 100%;
		z-index: 5000;
		align-content: center;
		margin: auto;
		align-items: center;
		padding-top: 50px;
		margin-top: 50px;
		padding-bottom: 50px;
	
		.contact_form{	
			width: 320px; 
			height: 92%;
			margin: auto;
			border-radius: 10px;  
			padding: 10px;
			transform: translateY(4%);
			box-shadow: 3px 3px 8px rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.103);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 0.5px solid rgba(255, 255, 255, 0.1);
			border-radius: 20px;
			backdrop-filter: blur(12px);
			-webkit-backdrop-filter: blur(12px);
	
			.table {
				height: 100%;
				margin: auto;
				position: relative;
	
				.contact-me {
					text-shadow: 2px 2px 2px black;
					width: 100%;
					height: 100%;
					position: absolute;
					border: solid 1.6px white;
					border-radius: 20px;
					font-size: 26px;
					padding-top: 24px;
					z-index: 300;
					border-radius: 10px;
				}
	
				.form-content {
					width: 100%;
					margin: auto;
					z-index: 500;
					padding-top: 70px;
					padding-left: 8px;
					position: absolute;
					text-shadow: 2px 2px 2px black;
	
					.button-container {
						width: 280px;
						display: flex;
						justify-content: center;
						.btn-formOne {
							height: 40px; 	
							margin-bottom: 20px; 
							margin: auto;
							text-transform: uppercase;
							background-color: #156b4a; 
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							width: 150px;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						.btn-formOne:hover {
							transform: scale(1.1);
						}
						}
						.btn-formTwo {
							height: 40px; 
							padding-left: 5px;
							padding-right: 5px; 	
							margin: auto;
							margin-left: 70px;
							text-transform: uppercase;
							background-color: #1c5d83;
							border-color: #ffffff; 
							border-style: solid; 
							border-radius: 30px;	
							width: 150px;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							color: #ffffff;
							transition: 1s;
							.btn-text {
								font-size: 16px;
							}
						}
						.btn-formTwo:hover {
							transform: scale(1.1);
						}
					}
				}
			
			}
		}
	
	
	}
	
	label {
		padding-left: 20px;
	}
	
	input{
		background-color: #fbfbfb; 
		color: #030c36;
		font-size: 14px;
		font-weight: 500;
		width: 266px; 
		height: 36px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #19245f; 
		margin-top: 10px;  
		padding-left: 20px;
		margin-left: 8px;
		margin-bottom: 20px; 
	}
	
	textarea{
		background-color: #fbfbfb;
		color: #030c36;
		font-size: 16px;
		font-weight: 500;
		width: 266px; 
		height: 100px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #185f88; 
		margin-top: 10px;
		margin-left: 8px;
		padding-left: 20px;
		margin-bottom: 20px; 
		padding-top: 15px; 
	}
	
	span{
		color: #ffffff; 
	}
	
	h1{
		font-size: 39px;  
		text-align: center; 
		padding-bottom: 20px; 
		color: #ffffff;
	}
	
	h3{
		font-size: 16px; 
		padding-bottom: 30px;
		color: #ffffff;   
	}
	
	p{
		font-size: 14px;
		color: #ffffff; 
	}
	
	::-webkit-input-placeholder {
		color: #a8a8a8;
	}
	
	
	::-webkit-textarea-placeholder {
		color: #a8a8a8;
	}
	
	
	/* .formulario input:focus{
		outline:0;
		border: 1px solid #97d848;
	}
	
	
	.formulario textarea:focus{
		outline:0;
		border: 1px solid #97d848;
	} */
}
