.navbar {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.267);
    width: 100%;
    padding-left: 50px;
    font-size: 20px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scrolling {
    background-color: black;
    transition: all 0.6s ease;
}

.navbar-logo {
    transform: rotate(90deg);
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
    aspect-ratio: 1;
    color: aliceblue;
    cursor: pointer;
}



@media screen and (min-width: 960px) {
    .navbar {
        height: 60px;
    }

    .navbar-logo {
        margin-top: 20px;
        margin-left: -20px;
        width: 80px;
    }

    .header_list {
        display: flex;
        text-align: end;
        width: 50%;
        padding-left: 20px;
        margin-left: 420px;
        height: 60px;
        grid-template-columns: repeat(4, 1fr);
        color: aliceblue;
        gap: 2.6rem;
    }
    
    .header_item {
        margin-top: 15px;
    }
    
    .header_link {
        color: aliceblue;
        text-decoration: none;
        transition: transform scale(1.2);
    }
    
    .header_link:hover {
        transition: transform scale(1.2);
        color: antiquewhite;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .navbar {
        height: 50px;
    }
    .navbar-logo {
        margin-top: 18px;
        margin-left: -25px;
        width: 60px;
    }
}

@media only screen and (max-width: 640px) {
    .navbar {
        height: 40px;
    }
    .navbar-logo {
        margin-top: 15px;
        margin-left: -30px;
        width: 40px;
    }

    .header_list {
        display: flex;
        text-align: end;
        font-size: 10px;
        width: 200px;
        padding-left: 0px;
        margin-left: 0px;
        height: 40px;
        grid-template-columns: repeat(4, 1fr);
        color: aliceblue;
        gap: 0.7rem;
    }
    
    .header_item {
        margin-top: 15px;
    }
    
    .header_link {
        color: aliceblue;
        text-decoration: none;
        transition: transform scale(1.2);
    }
    
    .header_link:hover {
        transition: transform scale(1.2);
        color: antiquewhite;
    }
}