.scrolling {
    background-color: rgb(180, 71, 71);
    transition: all 0.6s ease;
}

.navbar-logo {
    width: 75px;
    margin-left: 5px;

    .logo {
        transform: rotate(30deg);
        filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
        aspect-ratio: 1;
        color: aliceblue;
        cursor: pointer;
        padding-top: 10px;
        margin-bottom: -50px;
    }
}

.header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;

    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.171);
        align-items: center;
        max-width: 1240px;
        margin: auto;
        height: 100%;
        padding: 0 1rem;
    }
}

.header .nav-menu a {
    color: #ffffff;
    text-decoration: none;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
    padding-bottom: 0px;
    border-bottom: 2px solid rgb(179, 245, 220);
}

.hamburger {
    display: none;
}


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: rgba(0,0,0,.9);

        
        .navbar {
            max-width: 100%;

            .navbar-logo {
                width: 50px;
                margin-left: 0;
        
                .logo {
                    padding-top: 10px;
                    margin-bottom: -5px;
                }
            }
        
        .hamburger {
            display: block;
        }
        
        .nav-menu {
            position: fixed;
            right: 0;
            top: 60px;
            flex-direction: column;
            background-color: rgba(0,0,0,.9);
            width: 30%;
            height: 60vh;
            z-index: 1000;
            text-align: center;
            transition: .3s;
        }            
    }
    }






    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}
















