@media screen and (min-width: 1440px) {
    .footer {
        height: 300px;
        padding-top: 0px;
        display: flex;
        position: fixed;
        z-index: -1000;
        flex-wrap: wrap;
        flex-direction: center;
        align-items: center;
        padding: auto;
        margin: auto;
        flex-direction: column;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #041c38;
    
        .footer-information {
            h2 {
                color: rgb(255, 255, 255);
                font-size: 16px;
                padding: 18px;
                font-weight: 300;
                margin-top: 240px;
    
                span {
                    font-weight: bold;
    
                    .clover {
                        margin-bottom: -3.4px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1439px) {
    .footer {
        height: 300px;
        padding-top: 0px;
        display: flex;
        position: fixed;
        z-index: -1000;
        flex-wrap: wrap;
        flex-direction: center;
        align-items: center;
        padding: auto;
        margin: auto;
        flex-direction: column;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #041c38;
    
        .footer-information {
            h2 {
                color: rgb(255, 255, 255);
                font-size: 16px;
                padding: 18px;
                font-weight: 300;
                margin-top: 240px;
    
                span {
                    font-weight: bold;
    
                    .clover {
                        margin-bottom: -3.4px;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        height: 300px;
        padding-top: 0px;
        display: flex;
        position: fixed;
        z-index: -1000;
        flex-wrap: wrap;
        flex-direction: center;
        align-items: center;
        padding: auto;
        margin: auto;
        flex-direction: column;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #041c38;
    
        .footer-information {
            h2 {
                color: rgb(255, 255, 255);
                font-size: 16px;
                padding: 18px;
                font-weight: 300;
                margin-top: 240px;
    
                span {
                    font-weight: bold;
    
                    .clover {
                        margin-bottom: -3.4px;
                    }
                }
            }
        }
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .footer {
        height: 300px;
        padding-top: 0px;
        display: flex;
        position: fixed;
        z-index: -1000;
        flex-wrap: wrap;
        flex-direction: center;
        align-items: center;
        padding: auto;
        margin: auto;
        flex-direction: column;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #041c38;
    
        .footer-information {
            h2 {
                color: rgb(255, 255, 255);
                font-size: 16px;
                padding: 18px;
                font-weight: 300;
                margin-top: 240px;
    
                span {
                    font-weight: bold;
    
                    .clover {
                        margin-bottom: -3.4px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 479px) {
    .footer {
        height: 300px;
        padding-top: 0px;
        display: flex;
        position: fixed;
        z-index: -1000;
        flex-wrap: wrap;
        flex-direction: center;
        align-items: center;
        padding: auto;
        margin: auto;
        flex-direction: column;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #041c38;
    
        .footer-information {
            h2 {
                color: rgb(255, 255, 255);
                font-size: 16px;
                padding: 18px;
                font-weight: 300;
                margin-top: 240px;
    
                span {
                    font-weight: bold;
    
                    .clover {
                        margin-bottom: -3.4px;
                    }
                }
            }
        }
    }
}





