html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 12px;
}    

html::-webkit-scrollbar-thumb{
    background-color:rgb(18, 69, 117);
    border-radius: 1px;
}    

html::-webkit-scrollbar-track{
    background-color:#00141d;
}    