// @keyframes scroll {
//     0% {
//         -webkit-transform: translateX(0);
//         transform: translateX(0);
//     }
//     100% {
//         -webkit-transform: translateX(calc(-490px * 5));
//         transform: translateX(calc(-490px * 5));
//     }
//     0% {
//         -webkit-transform: translateX(0);
//         transform: translateX(0);
//     }
// }

.slider {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: auto;
    height: auto;
    border-radius: 1.5rem;


    i {
        background-color: aliceblue;
        top: 50%;
        transform: translateY(-50%);
        height: 46px;
        width: 46px;
        text-align: center;
        font-size: 1.2rem;
        line-height: 46px;
        cursor: pointer;
        border-radius: 50%;
        color: black;
        position: absolute;
        z-index: 2;
    }

    .slider_static {
        font-size: 0px;
        border-radius: 0.8rem;
        display: flex;
        padding: 20px;
        overflow:visible;
        background-color: aqua;
        align-items: center;
        margin: auto;
        align-content: center;
        // animation: scroll 20s linear infinite;
        // -webkit-animation: scroll 20s linear infinite;

        .slider_move {
            display: flex;
            transition: transform 600ms ease;
            gap: 0.5rem;
            // width: calc(100% /0.6005); //?Espacio de desplazamiento


            .slider_img-container {
                padding: 0px;
                margin-left: -26px;
                margin-right: 26px;
                
                
                .slider_img {
                    // object-fit: contain;
                    height: 100%;
                    width: 490px;

                    aspect-ratio: 1.8;
                    margin: auto;
                    padding: 0;
                    object-fit: cover;
                    border-radius: 0.8rem;
                    transition: linear 200ms transform;

                }

                .slider_img:hover {
                    transform: scale(1.08);
                    transition: linear 200ms transform;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.781);
                    cursor: pointer;
                }
            }
        }
    }
    
    .slider_prev {
        left: 5px;
    }
    
    .slider_next {
        right: 5px;
    }
}

@media only screen and (min-width: 960px) {
    .slider_static {
        width: calc(100%/3);
    }

    .slider {
        width: 80vw;
    }

}


@media (min-width: 641px) and (max-width: 959px) {
    .slider_static {
        width: calc(100%/2);
    }
}

@media only screen and (max-width: 640px) {
    .slider_static {
        width: calc(100%/1);
    }

    .slider {
        width: 96vw;
    }

}

