// @media only screen and (min-width: 960px) {
//     .carousel img {
//         width: calc(100% /3);
//     }
// }


// @media (min-width: 641px) and (max-width: 959px) {
//     .carousel img {
//         width: calc(100% /2);
//     }
// }

// @media only screen and (max-width: 640px) {
//     .carousel img {
//         width: calc(100% /1);
//     }
// }

.slider {
    padding: 0px;
    margin: auto;
    position: relative;
    width: 80vw;
    background-color: bisque;

    i {
        background-color: aliceblue;
        top: 50%;
        transform: translateY(-50%);
        height: 46px;
        width: 46px;
        text-align: center;
        font-size: 1.2rem;
        line-height: 46px;
        cursor: pointer;
        border-radius: 50%;
        color: black;
        position: absolute;
        z-index: 2;
    }

    .slider_static {
        width: 600px;
        margin: auto;
        // aspect-ratio: 1.5;
        overflow: hidden;
        background-color: aqua;
        white-space: nowrap;
        cursor: pointer;
        font-size: 0px;
        width: calc(100% /5);

        .slider_move {
            display: flex;
            width: 500%;
            height: 100%;
            // transform: translateX(calc(-1 / 5*100%));
            transition: transform 500ms ease;

            .slider_img-container {
                // width: calc(100%/5);
                padding: 0px;
            }

            .slider_img {
                // width: 100%;
                // height: 100%;
                // object-fit: contain;
                height: 300px;
                width: 100%;
                object-fit: cover;
                margin-left: 0px;
                top: 50%;
            }
        }
    }
    
    .slider_prev {
        left: 5px;
    }
    
    .slider_next {
        right: 5px;
    }
}

